img{
    width: 230px;
    height: 190px;
   border-radius:30px ;
   padding-:1cm ;
}
body {
    font-family: sans-serif;
    background-color: #67f1cf;
}


table{
    font-size: 20px;
}
.ttt{
    background-color: #2542e4;
    border: solid 7px  red;
    border-radius:30px ;
    padding: 3px;
    margin-bottom: 30px;
    width: 240px;
  
}
h2{
    text-align:center ;
}
div{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;}
